@charset "utf-8";
/* CSS Document */



#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
   /* text-align: left;*/
    /*background-color: #4CAF50;*/
    background-color:#333;
    color: white;
}

*{
	padding: 0;
	margin: 0;
}
.wrapper{
	height: auto;
	margin: auto;
	/*width: 1000px;
	height: auto;
	border: 1px solid #000;
	margin: auto;*/
}
.header{
	width: 100%;
	height: 120px;
	border: 1px solid #000;


}	
.header marquee {
    
        font-size: 50px;
        overflow: hidden;
        position: relative;
        color: red;
        position:relative;
  
 }
.header .marquee.right: 
 {
        animation: move 20s linear infinite;
}
.menu{
	font-family: geogia;
	font-size: 20px;
  color: #333;
	/*width: 100%;
	height: 40px;
	border: 1px solid #000;*/
}
.menu ul {
	/*background: #1F568B;*/
	background:#333;
  list-style-type: none;
  text-align: center;
	/*width: 100%;
	height: 40px;
	list-style: none;*/
}
.menu ul li {
	color: #f1f1f1;
  display: inline-block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin-left: -5px;

	/*width: 150px;
	height: 40px;
	line-height: 40px;
	float: left;*/
}
.menu ul li a {
	text-decoration: none;
	 color: #fff;
  display: block;
}

.menu a:hover {
	background: #F1F1F1;
  color: #333;
}
.left {
	width: auto;
	height: auto;
	border: 1px solid #000;
	float: left;
	

}
.right {
	/*width: auto;
	height: auto;
	border: 1px solid #000;*/
	float: left;
	margin-left: 100px;

}
.content{
	width: 100%;
	height: auto;
	border: 1px solid #000;
}
.clear {
	clear: both;
}
.footer{
	width: 100%;
	height: 80px;
	border: 1px solid #000;
}
.table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
